<ion-view class="contact-view">
  <ion-nav-title>
    <span>About</span>
  </ion-nav-title>
  <ion-content>
    <div>
      <map data-tap-disabled="true" center="{{position.lat}},{{position.lng}}" zoom="15" disable-default-u-i="true">
        <marker
          position="{{position.lat}},{{position.lng}}"
          title="Hello Marker"
          visible="true">
        </marker>
      </map>
    </div>
    <div class="contact-content">
      <div class="">
        <p>
If you have any questions or are interested in purchasing a plan off me but feel you might need more information please contact me and I will be in touch with you as soon as possible.
        </p>

      </div>
      <div class="contact-details-item">
        <h4>Address</h4>
        <div class="featured">Freezma Fitness</div>
        <div>Gold Coast</div>
        <div>Australia</div>
      </div>
      <div class="contact-details-item">
        <h4>Social Networks</h4>
        <div class="row social-networks">
          <div class="col"><a href="https://www.facebook.com/freezmafitness"><i class="icon ion-social-facebook" style="color: #3e649e;"></i></a></div>            
          <div class="col"><a href="https://twitter.com/therealfreezma"><i class="icon ion-social-twitter" style="color: #37b9e1;"></i></a></div>

          <div class="col"><a href="https://instagram.com/freezma/"><i class="icon ion-social-instagram" style="color: #675144;"></i></a></div>
          <div class="col"><a href="https://www.youtube.com/channel/UCtdeeufStGAFYE7H_wnaNDw"><i class="icon ion-social-youtube" style="color: #e52d27;"></i></a></div>
        </ul>
      </div>
      <div class="send-email">
        <button class="button button-outline button-block featured" ng-controller="EmailSenderCtrl" ng-click="sendContactMail()">
          Send me an email
        </button>
      </div>

    </div>
  </ion-content>
</ion-view>
