<ion-view class="post-view">
  <ion-nav-title>
    <span ng-bind-html="customPlan.title | rawHtml"></span>
  </ion-nav-title>
  <ion-content>
    <div class="post">
      <div class="card-header">
        <h1 ng-bind-html="customPlan.title | rawHtml"></h1>
      </div>
<div class="item item-image" ng-show="customPlan.thumbnail">
    <img ng-src="{{customPlan.thumbnail}}">
</div>        
      <div class="card-content" ng-bind-html="customPlan.content | rawHtml"></div>
    </div>

  </ion-content>

</ion-view>
