<ion-view class="ebooks-view home-view bookmarks-view" >
  <ion-nav-title>
    <span>eBooks</span>
  </ion-nav-title>
  <ion-content>

    <!-- Refresh to get the new posts -->
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <div ng-if="ebooks.length < 1" class="row bookmarks-container">
      <div  class="col col-center">
        <div class="empty-results">
          <i class="icon ion-ios-paper"></i>
          <h3 class="no-bookmarks">You have no eBooks to view. Go to the store and get some!</h3>
        </div>
      </div>
    </div>
    <div class="posts">      
        <div ebook-card ng-repeat="ebook in ebooks" class="post-card"></div>
        <div free-ebook-card ng-repeat="ebook in freeEbooks" class="post-card"></div>
    </div>


  </ion-content>
</ion-view>
