<ion-view class="post-view">
  <ion-nav-title>
    <span ng-bind-html="ebook.product.title | rawHtml"></span>
  </ion-nav-title>
  <ion-content>
    <div class="post">
      <div class="card-header">
        <h1 ng-bind-html="ebook.product.title | rawHtml"></h1>
      </div>
<div class="item item-image">
    <img ng-src="{{ebook.product.featured_src}}">
</div>        
      <div class="card-content" ng-bind-html="ebook.product.description | rawHtml"></div>
    </div>

  </ion-content>

</ion-view>
