<ion-view class="products-view home-view bookmarks-view">
  <ion-nav-title>
    <span>Store</span>
  </ion-nav-title>
  <ion-content>

    <!-- Refresh to get the new posts -->
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <div ng-if="products.length < 1" class="row bookmarks-container">
      <div  class="col col-center">
        <div class="empty-results">
          <i class="icon ion-ios-cart"></i>
          <h3 class="no-bookmarks">You have no products to view!</h3>
        </div>
      </div>
    </div>
    
    <div class="posts">
      <div product-card ng-repeat="product in products" class="post-card"></div>
    </div>


  </ion-content>
</ion-view>
