<ion-view class="post-view">
  <ion-nav-title>
    <span ng-bind-html="product.title | rawHtml"></span>
  </ion-nav-title>
  <ion-content>
    <div class="post">
      <div class="card-header">
        <h1 ng-bind-html="product.title | rawHtml"></h1>
      </div>
<div class="item item-image">
    <img ng-src="{{product.featured_src}}">
</div>        
      <div class="card-content" ng-bind-html="product.description | rawHtml"></div>
    </div>

  </ion-content>
  <ion-footer-bar class="new-comment post-footer bar bar-footer">
      <div class="col col-100 button-container col-center">
        <button class="button button-clear send" type="submit" ng-click="" ng-disabled="">
          BUY
        </button>
      </div>

  </ion-footer-bar>
</ion-view>
