<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <a class="button button-icon button-clear ion-ios-cart" ui-sref="app.products">
        </a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu class="main-menu" side="left" width="230">
    <ion-content>
      <ion-list>
        <ion-item class="heading-item item" nav-clear menu-close ui-sref="app.settings">
          <img id="menu-avatar" ng-src="{{user.avatar}}">
          <div class="heading-bg">
          </div>
          <div class="heading-action item-icon-left">
            <i class="icon ion-gear-a"></i>
            <h2 class="greeting">My Profile</h2>
          </div>
        </ion-item>
        <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="app.home">
          <!-- <i class="icon ion-home"></i> -->
          <i class="icon ion-ios-home"></i>
          <h2 class="menu-text">Home</h2>
        </ion-item>
          
         <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="app.products">
          <i class="icon ion-ios-cart"></i>
          <h2 class="menu-text">Store</h2>
        </ion-item>   
          
         <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="app.shreds">
          <i class="icon ion-ios-calendar"></i>
          <h2 class="menu-text">8 Week Shred</h2>
        </ion-item>  
          
         <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="app.ebooks">
          <i class="icon ion-ios-book"></i>
          <h2 class="menu-text">My eBooks</h2>
        </ion-item> 
         <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="app.plans">
          <i class="icon ion-ios-paper"></i>
          <h2 class="menu-text">My Plans</h2>
        </ion-item>      
         <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="app.videos">
          <i class="icon ion-ios-videocam"></i>
          <h2 class="menu-text">My Videos</h2>
        </ion-item>  
    
         <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="app.messages">
          <i class="icon ion-chatbubbles"></i>
          <h2 class="menu-text">Message Freezma</h2>
        </ion-item>                   
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu class="multi-level-push-menu" side="right" ng-controller="PushMenuCtrl">
    <ion-content has-bouncing="false" scroll="false">
      <wp-search>
      </wp-search>
      <push-menu menu="menu"></push-menu>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
