<ion-view class="walkthrough-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <ion-slide-box delegate-handle="walkthrough-slider" show-pager="true">
        <ion-slide>
          <div class="row slide-content">
            <div class="col">
              <h3 class="slide-h"><img class="walkthrough-logo" ng-src="img/logo.png"/></h3>
              <img class="slide-image" ng-src="img/wtslide2.png"/>
 
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="row slide-content">
            <div class="col">
              <h3 class="slide-h">WELCOME TO THE FREEZMA FITNESS APP</h3>
              <p>Here is a place to easily access all your fitness information, learn and grow!</p>
			  <p>The Freezma Fitness app lets you:
			  <ul>
			  <li>See app only updates of advice from Freezma</li>
			  <li>Create your own personal profile</li>
			  <li>Buy videos, ebooks, workout plan and nutrition plans (there's free ones too)</li>
			  <li>See your custom plans designed by Freezma</li>
			  <li>See 8 Week Shred content within the app</li>
			  <li>Direct message Freezma for one on one conversation</li>
			  </ul>
			  </p>
			  <p>
				If you have any questions or are interested in purchasing a plan off me but feel you might need more information please contact me here and I will be in touch with you as soon as possible.
			  </p>
			  <p>Email: FreezmaFitness@gmail.com</p>
			  <p>If you have any issues with the app, or want to get your own, contact Taylor Hamling</p>
			  <p>Email: taylordonhamling@gmail.com</p>
			  
			  
			  </p>
			  
            </div>
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>
    <div class="bottom-content row">
      <div class="col col-center">
        <a class="login button button-block" ui-sref="login">
          Log In
        </a>
      </div>
      <div class="col col-center">
        <a class="sign-up button button-block" ui-sref="register">
          Register
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
