<ion-modal-view class = "home-view">
	<ion-header-bar>
		<h1 class="title">Edit Profile</h1>
		<div class="button button-clear" ng-click="profile_modal.hide()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
	<ion-content>
    <div class="post">
<div class="item">

  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" ng-model="profile.firstName" placeholder="First Name">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" ng-model="profile.lastName" placeholder="First Name">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Age</span>
    <input type="number" ng-model="profile.age" placeholder="Age">
  </label>
  <label class="item item-input  item-select">
    <span class="input-label">Country</span>
    <country-select ng-model="profile.country" placeholder="Country"></country-select>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Biography</span>
    <textarea rows="5" placeholder="Biography" ng-model="profile.biography"></textarea>
  </label>  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Gym Goals</span>
    <textarea rows="5" placeholder="Gym Goals" ng-model="profile.gymGoals"></textarea>
  </label>   
  <label class="item item-input item-stacked-label">
    <span class="input-label">Life Goals</span>
    <textarea rows="5" placeholder="Life Goals" ng-model="profile.lifeGoals"></textarea>
  </label>       

    </div>
    </div>
<div class="card-footer">
  <a class="card-button secondary" ng-click="profile_modal.hide()">CANCEL</a>
  <a class="card-button primary" ng-click="updateProfile();profile_modal.hide()">UPDATE</a>

</div>            
	</ion-content>
</ion-modal-view>
