<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Edit Avatar</h1>
		<div class="button button-clear" ng-click="avatar_modal.hide()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
	<ion-content>
    <div class="post">
<div class="item item-image">
    <img ng-src="{{user.avatar}}">
</div>        
      <div class="card-content" ng-bind-html="ebook.product.description | rawHtml"></div>
    </div>	
<div class="card-footer">
  <a class="card-button secondary">TAKE PICTURE</a>
  <a class="card-button primary">CHOOSE FROM LIBRARY</a>

</div>            
	</ion-content>
</ion-modal-view>
