.bar.app-top-bar{
    background-color:black;
    background-image:url(../img/HeaderNoLogo.png);
background-size: 320px 43px;
    background-position: center center;
    background-repeat: no-repeat;   
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    border: none;    
}

.ff-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(../img/HeaderGold.PNG);
    background-size: 320px 43px;
    background-position: center center;
    background-repeat: no-repeat;
}

.ff-bg span {
   display:none;
}

.main-menu ion-content {
    background-color: black;
    background-image:url(../img/SideMenu.png);
    background-repeat:no-repeat;
    background-size:230px 660px;
    background-position: center 110px;
}
.main-menu ion-item.item .item-content,.main-menu ion-item.item {
    background-color: transparent;
}

.home-view .post-card, .category-view .post-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}



.register-view, .login-view, .forgot-password-view, .walkthrough-view{
        background-color: black;
    background-image: url(../img/loginbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0px;
    background-attachment: fixed;
}



.register-view .form-heading, .login-view .form-heading, .forgot-password-view .form-heading {
    height: 40%;
}
.register-view .form-wrapper, .login-view .form-wrapper, .forgot-password-view .form-wrapper {
    height: 60%;
}

.register-view .form-title, .login-view .form-title, .forgot-password-view .form-title {
display:none;
}

.register-view .input-fields .item, .login-view .input-fields .item, .forgot-password-view .input-fields .item{
        background-color: #000000;
}


.register-view .toggle-view-anchor *, .login-view .toggle-view-anchor *, .forgot-password-view .toggle-view-anchor *{
    
    color:#FEE900 !important;
}

.register-view .button.register,.login-view .button.login,.forgot-password-view .button.recover, .walkthrough-view .bottom-content .sign-up{
    background-color: rgba(255, 255, 255, 0.85);
    border-color: rgba(252, 252, 252, 0.9);
    color:white;
}

.walkthrough-view .bottom-content .sign-up{
    color:#2B2B2B;
    
}

.walkthrough-view .bottom-content .login{
    
     background-color: #161616;
    border-color: rgba(252, 252, 252, 0.9);   
}

.walkthrough-view .scroll-content{
    background-color:black;

    
}

.walkthrough-logo{
    width: 100%;
        max-width: 992px;

}

.item.item-image{
        margin-bottom: 10px;
}

.highlighted{
    background-color: #d7f5df;
}

.item p.message-content{
    white-space: initial;
}

.loading-container .loading {
        background-color: rgba(0, 0, 0, 0.9);
}

.post-view .new-comment {
    background-color: #000000;
}

.multi-level-push-menu .mp-menu .category-item-container,.multi-level-push-menu .mp-level {
    background-color: #000000;
}
.post .custom-plan-upload{
    color: #FFA707;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
        margin-top: 10px;
    display: block;
}

.posts .custom-plan-upload{
    display:none;
}

.post-view.message-view ion-content {
    background: #EAEAEA;
}

.comments .item.item-avatar{
    width:100%;
}

.post-actions{
    min-height:54px;
}




/*BLACK THEME */

*{
    box-shadow: none !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    color:white;
}
h3.popup-title{
    color: #000;
}

.popup-body{
    color: #000;
}

/*posts*/
.home-view ion-content, .category-view ion-content,.bookmarks-view,.post-view.message-view ion-content,.settings-view, .item-stacked-label input, .item-stacked-label textarea, .item-select select{
    background-color:#161616;
}

.home-view .post-card, .category-view .post-card, .bar{
        background: #000000;
        border-color:black;
}

.home-view .author, .category-view .author, .post-view .author{
    color:#FFA500;
}

.home-view h1, .category-view h1{
    color:white;
}

*,.post-view .comments h2,p.message-content.ng-binding,textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    color: #ABABAB;
}

.home-view .card-footer, .category-view .card-footer{
        border-top: 1px solid #161616;
}
/*single post */
.post-view ion-content,.post-view .post, .post-view .post-actions, .item {
    background: #161616;
}

.item.activated{
    background: #1B1B1B;
    border-color:#212121;

}
.post-view .post-actions, .item{
        border-color: #212121;
}



.messages .item{
    background-color:#000000;
}

.action-sheet .button{
        border-color: #0D0D0D;
}

.action-sheet-options,.action-sheet-group {
    background: #000000;
}

.action-sheet .button.activated {
        background: #020202;
    border-color:#212121;
}
.card, .list-inset {
	background-color:black;
}



.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.shreds.item{
    background-color:#000;
    color:#FFA500;
        border-color: black;
            text-transform: uppercase;
    font-weight: 500;
    margin: 0px;
}

.shred.item{
    background-color:#000;
    color:#ABABAB;
    border-top: 1px solid #161616;
    padding:0px;
    margin:0px;
}

.shred .card-footer{
        margin-top: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}



